<div class="modal fade message-popup" id="user1Message" tabindex="-1" role="dialog" aria-labelledby="user1Message">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                로그인 페이지
            </div>
            <div class="modal-body" id="message-model-content">
            </div>
            <div class="modal-footer">
                <button class="message-popup-close btn btn-default" type="button" data-dismiss="modal" aria-label="Close">닫기</button>
            </div>

        </div>
    </div>
</div>